Manage Users Form
<table mat-table [dataSource]="usersDataSource" class="mat-elevation-z4">
    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>User Name</th>
        <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastLoginDt">
        <th mat-header-cell *matHeaderCellDef>Last Login Date</th>
        <td mat-cell *matCellDef="let user"> {{user.lastLoginDt | date :'medium':'EST'}} </td>
    </ng-container>

    <ng-container matColumnDef="editUser">
        <th mat-header-cell *matHeaderCellDef>Edit User</th>
        <td mat-cell *matCellDef="let user">
            <button [routerLink]="['/editUser', user.id]">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="deleteUser">
        <th mat-header-cell *matHeaderCellDef>Delete User</th>
        <td mat-cell *matCellDef="let user">
            <button (click)="deleteUser(user)" [disabled]="currentUserId===user.id">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>